.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vw;
  margin: 0 auto;
  align-items: flex-start;
  padding: 2%;
  border-color: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  border-width: 0.1em;
  border-style: ridge;
  text-align: justify;
  border-radius: 10px;
}

.containerGeneral {
  padding: 5em;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

.dataForTest {
  border-color: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  border-width: 0.1em;
  border-style: ridge;
  border-radius: 10px;
  font-size: x-small;
  width: 100%;
  padding: 2%;
  margin: 2%;
}

.buttonform{
    margin: 0 auto;
}

.inputForm{
    width: 100%;
}